<!-- templates/index.html -->

{% extends "layout.html" %} {% block title %}Back Office HITSS - Generador{%
endblock %} {% block content %}
<div class="flex h-screen">
  {% include "components/sidebar.html" %}

  <main class="flex-1 p-8 overflow-y-auto">
    {% include "components/form_section.html" %} {% include
    "components/result_section.html" %}
  </main>
</div>

<script>
  const TEMPLATES = {{ templates | tojson }};
</script>

<script type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>

{% endblock %}
